<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open English Login Plataforma</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link media="all" rel="stylesheet" type="text/css" href="https://lp2-static.openenglish.com/css/ResponsiveMain.30.1.2084.css" />
    <link media="all" rel="stylesheet" type="text/css" href="https://lp2-static.openenglish.com/css/ResponsiveLogin.30.1.2084.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="https://lp2-static.openenglish.com/js/Common.30.1.2084.js"></script>
    <script src="https://lp2-static.openenglish.com/js/CommonConfig.30.1.2084.js"></script>
</body>
</html>
